/*font-family: 'Cormorant Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
background-color: #2cc6af;
background-color: #ECE1E9;
  background:#ff5350;
    background:#ff7050;

    "libre baskerville", serif
    rgb(40, 128, 102)


*/
:root {
  --primary-font: "Yeseva One", cursive;
  --secondary-font: "Montserrat", sans-serif;
}

nav a {
  text-decoration: none;
  color: rgb(40, 128, 102);
  transition: all 100ms ease-in-out;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "libre baskerville", serif;
  font-size: 22px;
}

.painting-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.painting-row1{
  justify-content: space-between;
}

h2.title{
  text-align:center;
  margin-top: 20px;
  margin-bottom: 50px;
}

h1.index{
  font-family: var(--primary-font);
  line-height: 1.5;
  margin-bottom: 70px;
  font-size: 24px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 15px;
}
nav img {
 border-radius: 4px;
}

.

.description{
  text-decoration:none;
  text-align: center;
}
.navigation-link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navigation-link a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.main-link {
  color: white;
  background: #575e54;
}

.logo {
  max-height: 100px;
}

.hero {
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 4px;
}


.description{
  font-family: var(--primary-font);
padding:10px 15px;
border-radius: 4px;

}

a.button-main{
  display: block;
    text-align: center;
    margin: 0 20px;
  
}


@media (min-width: 768px) {
  h1 {
    font-size: 44px;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 24px;
  }
  .navigation-link a {
    font-size: 20px;
    padding: 20px 30px;
  }
}
